  <%= turbo_frame_tag "current_slide", class: "animate__animated animate__fadeIn animate__faster", data: { animate_out: 'animate__fadeOut' } do %>
  <div class="slide">
    <div class="slide__title">
    </div>

    <div class="slide__body">
      <%= slide.body %>
    </div>
  </div>


<% end %>