<div class="empty-state">
  <p class="empty-state__text">
    You don't have any quotes yet!
  </p>

  <%= link_to "Add Slide", new_my_presentation_slide_path(presentation), class: "button button--primary" %>
</div>