<%= turbo_frame_tag nested_dom_id(slideshow, "slide_viewer") do %>

<div class="slide">
  <div class="slide__title">
    <h2>No Slides</h2>
    <div class="slide__actions">
      <%= link_to 'Add', new_my_slideshow_slide_path(slideshow), class: 'button button--primary' %>
    </div>

  </div>
  <div class="slide__body">
    <div>You have no slides in this slideshow.  Please create some slides.</div>
    <%= link_to "Add Slide", new_my_slideshow_slide_path(slideshow), class: "button button--primary" %>
  </div>
</div>

<% end %>