<main class="container">

  <div class="grid">
    <div class="grid__cell">
      <h2>Active Presentations</h2>
      <div class="list">
      <%= render @presentations %>
      <%= render "/presentations/empty_state" %>
      </div>
    </div>
    <div class="grid__cell">
      <h2>Your Slideshows</h2>
      <div class="list">
        <%= render collection: current_user.slideshows, partial: "/my/slideshows/slideshow" %>
        <%= render "/my/slideshows/empty_state" %>
      </div>
    </div>
  </div>
  
</main>