<main class="container">

<h1>Your Slideshows</h1>
  <div class="slideshows">
    <%= render @slideshows %>
    <%= render "empty_state" %>
  </div>


   <p>
      <%= link_to "Add a Slideshow", new_my_slideshow_path, class: "button button--primary" %>.
  </p>
</main>