<%= turbo_frame_tag chat_message do%>
  <div class="chat_message" data-controller="keep-scrolled" data-keep-scrolled-container-value="chat_box" data-keep-scrolled-margin-value="100">
    <span class="chat_message--user"><%= chat_message.attendee.presenter? ? 'Presenter' : chat_message.attendee.name %></span>
    <span class="chat_message--message"><%= chat_message.text %></span>
    <span class="chat_message--time"><%= chat_message.created_at.strftime("%H:%M") %></span>
    
  </div>
<% end %>